<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dashboard  
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle"></i>  Market Indexes</h3>
                    </div>
                    <div class="panel-body">
                       <div class="list-group">
                           <table style="padding-top:10px;" class="table table-bordered table-condensed">
                            <tr>
                                <th>Index</th>
                                <th>Last Trade</th>
                                <th>Percent Change</th>
                                <th>Price Change</th>
                            </tr>
                            <tr ng-repeat="stock in marketlist" ng-class='{"success": stock.positive, "danger": !stock.positive}'>
                                <td>{{ stock.name}}</td>
                                <td>${{ stock.price }}</td>
                                <td>{{ stock.percentage_change }}</td>
                                <td>{{ stock.price_change }}</td>
                            </tr>
                        </table>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle"></i>  Top Stocks Today</h3>
                    </div>
                    <div class="panel-body">
                       <table style="padding-top:10px;" class="table table-striped table-bordered table-condensed">
                            <thead>
                                <th>
                                    <a ng-click="sort('stock.symbol')" href="javascript:void(0);">Stock</a>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='stock.symbol'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th>
                                    <a ng-click="sort('closing_price')" href="javascript:void(0);">Close</a>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='closing_price'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th>
                                    <a ng-click="sort('stock_float')" href="javascript:void(0);">Float</a>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='stock_float'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th>
                                    <a ng-click="sort('one_week')" href="javascript:void(0);">1W Growth</a>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='one_week'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th>
                                    <a ng-click="sort('one_month')" href="javascript:void(0);">1M Growth</a>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='one_month'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th>
                                    <a ng-click="sort('three_month')" href="javascript:void(0);">3M Growth</a>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='three_month'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th>
                                     <a ng-click="sort('quarterly_growth')" href="javascript:void(0);">Quarterly Growth</a>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='quarterly_growth'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                            </thead>
                            <tbody>
                                <tr dir-paginate="stock in filteredlist|orderBy:sortKey:reverse|itemsPerPage:5">
                                    <td>{{ stock.stock.symbol}}</td>
                                    <td>${{ stock.closing_price|number:2 }}</td>
                                    <td>{{ getShortNumber(stock.stock_float) }}</td>
                                    <td>{{ stock.one_week }}%</td>
                                    <td>{{ stock.one_month }}%</td>
                                    <td>{{ stock.three_month }}%</td>
                                    <td>{{ stock.quarterly_growth }}%</td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls></dir-pagination-controls>
                       <h4 class="text-muted" ng-if="filteredlist.length == 0">
                           No stocks matched your parameters today. Change your parameters in the settings menu
                       </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle"></i>  Watchlist</h3>
                    </div>
                    <div class="panel-body">
                        <form novalidate class="form-inline" style="padding-bottom: 10px;">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="symbol" placeholder="Symbol (ex: AAPL)" />
                                <button type="submit" class="btn btn-primary" ng-click="addToWatchList(symbol)">ADD</button>
                            </div>
                        </form>
                        <table style="padding-top:10px;" class="table table-bordered table-condensed">
                            <tr>
                                <th>Stock</th>
                                <th>Last Trade</th>
                                <th>Volume</th>
                                <th>Open</th>
                                <th>Day Low</th>
                                <th>Day High</th>
                                <th>Year Low</th>
                                <th>Year High</th>
                            </tr>
                            <tr ng-repeat="stock in $storage.watchlist" ng-class='{"success": stock.positive, "danger": !stock.positive}'>
                                <td>{{ stock.stock.symbol }}</td>
                                <td>{{ stock.price }}</td>
                                <td>{{ stock.volume }}</td>
                                <td>{{ stock.open }}</td>
                                <td>{{ stock.days_low }}</td>
                                <td>{{ stock.days_high }}</td>
                                <td>{{ stock.year_low }}</td>
                                <td>{{ stock.year_high }}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle"></i>  A fourth panel</h3>
                    </div>
                    <div class="panel-body">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
