<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dashboard  
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle"></i>  Market Indexes</h3>
                    </div>
                    <div class="panel-body">
                       <div class="list-group">
                           <table style="padding-top:10px;" class="table table-bordered table-condensed">
                            <tr>
                                <th>Index</th>
                                <th>Last Trade</th>
                                <th>Percent Change</th>
                                <th>Price Change</th>
                            </tr>
                            <tr ng-repeat="stock in marketlist" ng-class='{"success": stock.positive, "danger": !stock.positive}'>
                                <td>{{ stock.name}}</td>
                                <td>${{ stock.price }}</td>
                                <td>{{ stock.percentage_change }}</td>
                                <td>{{ stock.price_change }}</td>
                            </tr>
                        </table>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle"></i>  Top Stocks Today</h3>
                    </div>
                    <div class="panel-body">
                       <table style="padding-top:10px;" class="table table-striped table-bordered table-condensed">
                            <tr>
                                <th>Stock</th>
                                <th>Close</th>
                                <th>Float</th>
                                <th>1W Growth</th>
                                <th>1M Growth</th>
                                <th>3M Growth</th>
                                <th>Quarterly Growth</th>
                            </tr>
                            <tr ng-repeat="stock in filteredlist">
                                <td>{{ stock.stock.symbol}}</td>
                                <td>${{ stock.closing_price|number:2 }}</td>
                                <td>{{ stock.stock_float }}</td>
                                <td>{{ stock.one_week }}%</td>
                                <td>{{ stock.one_month }}%</td>
                                <td>{{ stock.three_month }}%</td>
                                <td>{{ stock.quarterly_growth }}%</td>
                            </tr>
                        </table>
                       <h4 class="text-muted" ng-if="filteredlist.length == 0">
                           No stocks matched your parameters today. Change your parameters in the settings menu
                       </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle"></i>  Watchlist</h3>
                    </div>
                    <div class="panel-body">
                        <form novalidate class="form-inline" style="padding-bottom: 10px;">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="symbol" placeholder="Symbol (ex: AAPL)" />
                                <button type="submit" class="btn btn-primary" ng-click="addToWatchList(symbol)">ADD</button>
                            </div>
                        </form>
                        <table style="padding-top:10px;" class="table table-bordered table-condensed">
                            <tr>
                                <th>Stock</th>
                                <th>Last Trade</th>
                                <th>Volume</th>
                                <th>Open</th>
                                <th>Day Low</th>
                                <th>Day High</th>
                                <th>Year Low</th>
                                <th>Year High</th>
                            </tr>
                            <tr ng-repeat="stock in $storage.watchlist" ng-class='{"success": stock.positive, "danger": !stock.positive}'>
                                <td>{{ stock.stock.symbol }}</td>
                                <td>{{ stock.price }}</td>
                                <td>{{ stock.volume }}</td>
                                <td>{{ stock.open }}</td>
                                <td>{{ stock.days_low }}</td>
                                <td>{{ stock.days_high }}</td>
                                <td>{{ stock.year_low }}</td>
                                <td>{{ stock.year_high }}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info-circle"></i>  A fourth panel</h3>
                    </div>
                    <div class="panel-body">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
